{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}
    <section class="container-fluid white">
        <div class="container">
            <div class="col-xs-12">
                <img src="{{ asset('images/Error500-lafolleagence.jpg') }}" class="img-responsive" id="error">
            </div>
        </div>
    </section>
{% endblock %}