{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('lafolleagence_blog') }}" target="_blank">Accueil Blog</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>
            <li>
                <a href="{{ path('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
{% endblock %}