/*THIS FILE CONTAINS CSS PROPERTIES FOR THE NAVBAR AND THE FOOTER*/

/**//**//**/
/*/*NAVBAR*/
/**//**//**/

.navbar-default {
    background-color: #FFFFFF;
    border: none;
}

.navbar-brand {
    padding:8px 15px;
}

.navbar-brand > img,
#logo-footer {
    width: 140px;
    display: block;
}

/*MENU*/
#navbar-menubuilder ul li a{
    font-size: 1em;
    font-weight:400;
    color: #2d2d2d;
}

#navbar-menubuilder ul li a:hover{
    color: #641032;
}

/*SOCIAL MEDIA ICONS*/
.social-icons {
    padding: 12px 0 10px 0;
    text-align: center;
}

.social-icons li {
    display: inline-block;
}

.social-media {
    background-color: #641032;
    border-radius: 25px;
    width: 25px;
    height:25px;
    margin-left: 3px;
}

.social-media:hover {
    background-color: #d01d64;
}

.social-media a i {
    color: #ffffff;
}

.navbar-nav .social-media a,
.social-icons .social-media a {
    padding: 0;
    margin: 3px 0 0 0;
    text-align: center;
}

/**//**//**/
/*FOOTER*/
/**//**//**/

#first-footer-part{
    background-color: #2d2d2d;
    padding: 15px 0 0 0;

}

#logo-footer{
    margin-top: 10px;
    display: block;
}

.col-xs-12 #logo-footer {
    margin: 10px auto;
}

#hook-footer {
    list-style: none;
}

#hook-footer li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1em;
}

#hook-footer li a:hover {
    font-weight: 500;
}

#first-footer-part ul.col-xs-12 li a,
#first-footer-part .col-xs-12 p {
    text-align: center;
    display: block;
}

#social-bar {
    padding: 0;
}

#social-bar p{
    color: #ffffff;
    margin:0;
}

#social-footer .social-media {
    background-color: #FFFFFF;
}

#social-footer .social-media:hover{
    background-color: #d01d64;
}

#social-footer .social-media a i{
    margin-top: 5px;
    color: #2d2d2d;
}
.align-right {
    float: right;
}

/*PARTIE COPYRIGHT FOOTER*/
#second-footer-part{
    background-color: #3d3d3d;
    padding: 5px 0;
}

#copyright{
    display: inline-block;
    text-align: center;
}

#copyright p {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
    font-size: 0.9em;
    margin-bottom: 0;
    font-weight: 300;
}

#copyright a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 300;
}

#copyright a:hover{
    color: #d01d64;
}