{% extends 'base.html.twig' %}

{% block title %}La Folle Agence | Prestations - Evénementiel, Community Management, Veille concurrentielle{% endblock %}
{% block body %}
<header>
    <section class="container-fluid" id="prestation-header">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 page-header-style">
                <h1>Que fait-on pour <span>vous</span> ?</h1>
            </div>
        </div>
    </section>
</header>

<section class="bandeau container-fluid"></section>

<section class="container-fluid white" id="gestion-event">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h2>Gestion de projets événementiels</h2>
            <hr>
        </div>

        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img src="images/prestations-evenementiel-la-folle-agence.png" alt ="Prestation évenementielle">
        </div>

        <div class="col-xs-12 col-sm-5">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eius explicabo id!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, consectetur consequatur earum eius, illum impedit in labore nemo nostrum odit possimus soluta velitvoluptate, voluptates. Qui similique veritatis voluptas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, consectetur consequatur earum eius, illum impedit in labore nemo nostrum odit possimus soluta velitvoluptate, voluptates. Qui similique veritatis voluptas?
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, consectetur consequatur earum eius, illum impedit in labore nemo nostrum odit possimus soluta velitvoluptate, voluptates. Qui similique veritatis voluptas?
        </div>
    </div>
</section>

<!-- Forme triangle en SVG -->
<section class="container-fluid triangle-down">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 4" class="row">
        <polygon points="50 3, 100 0, 0 0" fill="rgba(255,255,255,1)"/>
    </svg>
</section>

<section class="container-fluid grey" id="community-management">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h2>Community Management</h2>
            <hr>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eius explicabo id, in ipsa minima nesciunt porro quos rem sint temporibus vitae voluptatem. Facere facilis fugit, iure maxime nihil qui!</h3>
        </div>

        <div class="col-xs-12 col-sm-5 col-sm-offset-1 text-pres" >
            <p class="text-pres">Avec La Folle Agence, je gère votre présence sur les réseaux sociaux tels que Facebook, Twitter, Google +, Instagram, Pinterest, Linkedin, Viadeo…</p>
            <p class="text-pres">J’effectue sur ces réseaux sociaux notamment l’animation de vos pages, la modération des commentaires, la gestion de la communauté… afin de permettre le développement de votre communauté, le développement du taux d’engagement.</p>
        </div>

        <div class="col-xs-12 col-sm-5 text-pres">
            <ul class="text-pres">
                <li>Création de comptes sur les réseaux sociaux (Facebok, Twitter, Google+, Instagram, Viadeo, Linkedin…);</li>
                <li>Création et gestion de communauté sur les réseaux sociaux;</li>
                <li>Accompagnement à la création de pages sur les réseaux sociaux;</li>
                <li>Création et rédaction de contenus;</li>
                <li>Animation de communauté;</li>
                <li>Modération des commentaires.</li>
            </ul>
        </div>
    </div>
</section>

<section class="bandeau container-fluid"></section>

<section class="container-fluid white" id="veille-concurrentielle">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h2>Veille concurrentielle</h2>
            <hr>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
            <img src="images/prestation-veille-concurrentielle-la-folle-agence.jpg" alt="veille concurentielle">
        </div>

        <div class="col-sm-5 text-pres">
            <h3>Dans le cadre de votre veille concurrentielle, je vous propose de vous aider à définir des mots-clés pertinents correspondant à votre marque.</h3>
            <p>Par la suite je met en place une veille sur le web (réseaux sociaux, forums, blogs…) et je vous fournis des rapports complets vous permettant de mieux comprendre ce que les internautes disent dans l’optique d’appréhender les nouveaux besoins clients, les nouveautés dans votre secteur ou encore d’anticiper un éventuel déficit d’image.</p>
            <ul>
                <li>Veille concurrentielle</li>
                <li>Veille informationnelle</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}